:root {
	--selected-card: lightblue;
}

* {
	box-sizing: border-box;
}

#inputAddPlayer {
	width: 15ch;
}

#outputPokerGame {
	margin: 1.5em;
}

.playerRow span {
	font-family: Courier;
	white-space: pre;
}

.cardHand {
	font-size: 1.5em;
	height: fit-content;
}

.card {
	display: inline-block;
	/* height: 1.5em; */
}

.card:hover {
	background-color: var(--selected-card);
	cursor: pointer;
}

.red {
	color: red;
}

.black {
	color: black;
}

.selectedCard {
	background-color: var(--selected-card);
}
